body{
    /* background-image: url("images/python-logo-4k-i6-1440x900.f546abb17b10.jpg"); */
    /* background-repeat: no-repeat; */
    height: 55vw;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}
.intro{
    /* background-color: yellow; */
    height: 50vw;
}
.loginFormDiv{
    width: 300px;
    height: auto;
    background-color: rgba(54, 54, 54, 0.626);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 2vw;
}

input{
    margin: 1vw;
    width: 250px;
    height: 40px;
}
#loginLink{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button{
    margin-top: 55px;
    width: 250px;
    height: 40px;
    border-radius: 0;
    border-style: none;
    background-image: linear-gradient(90deg, rgb(58, 228, 226), rgb(255, 234, 0));
}
img{
    width: 150%;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    transform: translate(-35%, 40%);
    z-index: -1;
    position: fixed;
}
h1{
    color: rgb(4, 255, 251);
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}