body{
    background-image: url("images/python-logo-4k-i6-1440x900.f546abb17b10.jpg");
    background-repeat: no-repeat;
    height: 55vw;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}
.intro{
    width: 20%;
    height: auto;
    /* text-align: center; */
    margin-left: 20px;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translate(0%, 50%);
}
@media screen and (max-width: 600px) {
    .intro{
        color: rgb(223, 0, 0);
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: 40%;
        transform: translate(-50%, 50%);
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
    }
    ul li{
        text-align: center;
        display: flex;
       
        justify-content: center;
    }
  }
h1{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size:4vw;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin-top: 1vw;
    list-style-type: none;
    display: flex;
    justify-content: left;
}
a{
    padding: 1vw 6vw;
    text-decoration: none;
    color: black;
    border-radius: 3vw;
}
#login{
    background-image: linear-gradient(45deg, rgb(190, 242, 129), cyan);
}
#signout{
    background-image: linear-gradient(45deg, rgb(250, 103, 186), rgb(246, 255, 0));
}
#login:hover{
    background-image: linear-gradient(45deg, rgb(169, 253, 74), rgb(4, 196, 196));
}
#signout:hover{
    background-image: linear-gradient(45deg, rgb(249, 60, 167), rgb(200, 207, 4));
}