body{
    background-image: url("images/python-logo-4k-i6-1440x900.jpg");
    background-repeat: no-repeat;
    height: 55vw;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}