{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/master.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Fjalla+One&family=Oswald:wght@300&family=Oxygen:wght@400;700&family=Tangerine:wght@700&family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="intro">
        <div>
            <h1>Python Django</h1>
        </div>
        <ul>
            <li>
                <a id="login" href="{% url 'LOGIN' %}">Login</a>
            </li>
            <li>
                <a id="signout" href="{% url 'SIGNUP' %}">SignUp</a>
            </li>
        </ul>
    </div>
</body>
</html>